.application {
  padding: 250px 0 112px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__card {
    width: calc(33.33333% - 26.66666px);
    background: #F0F3F6;
    border-radius: 24px;
    padding: 22px 39px 18px 32px;
    &-title {
      
      font-weight: 700;
      font-size:18px;
      line-height:140%;
      color: #046BAD;
      margin: 20px 0 12px;
    }
    &-text {
      
        
      font-weight: 400;
      font-size:17px;
      line-height:110%;
      color: #6B7DA1;
    }
    &-submit {
      
        
      font-weight: 400;
      font-size:17px;
      line-height:110%;
      color: #fff;
      margin-top: 20px;
    }
  }
  &__btn {
    background: linear-gradient(270deg, #267ABE 0%, #195697 100%);
    border: none;
    cursor: pointer;
    text-align: center;
  }
}