*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
.wrapper{
  width: 100%;
  max-width: 1161px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  width: 100%;
  max-width: 1161px;
  margin: 0 auto;
  padding: 0 15px;
}
.col-2 {
  width: calc(16.66666% - 33.33333px);
}

.col-3 {
  width: calc(25% - 30px);
}

.col-4 {
  width: calc(33.33333% - 26.66666px);
}

button:hover{
background-color: #004068
}

@media (max-width: 768px) {
  .wrapper, .container { 
    max-width: 768px; 
  }
}